<div class="container">
  <div class="row justify-content-center align-items-center" style="height:100vh;">
    <!-- Logo -->
    <img src="Logo.jpg" alt="Logo de la aplicación" class="logo">

    <div class="col-md-6">
      <div class="card login-card">
        <div class="card-body">
          <h2 class="card-title text-center">Inicio de Sesión</h2>
          <form>
            <div class="form-group">
              <label for="correo">Correo Electrónico</label>
              <input type="email" class="form-control" id="correo">
            </div>
            <div class="form-group">
              <label for="contrasena">Contraseña</label>
              <input type="password" class="form-control" id="contrasena">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Iniciar Sesión</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
