<form (ngSubmit)="submitForm()">
    <div class="form-group">
      <label for="tipo_material">Tipo de material:</label>
      <input type="text" class="form-control" id="tipo_material" [(ngModel)]="accionReciclaje.tipo_material" name="tipo_material">
    </div>
    <div class="form-group">
      <label for="cantidad">Cantidad:</label>
      <input type="number" class="form-control" id="cantidad" [(ngModel)]="accionReciclaje.cantidad" name="cantidad">
    </div>
    <div class="form-group">
      <label for="fecha">Fecha:</label>
      <input type="date" class="form-control" id="fecha" [(ngModel)]="accionReciclaje.fecha" name="fecha">
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
  