<form (ngSubmit)="submitForm()">
    <div class="form-group">
      <label for="id">ID:</label>
      <input type="text" class="form-control" id="id" [(ngModel)]="participante.id" name="id">
    </div>
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" class="form-control" id="nombre" [(ngModel)]="participante.nombre" name="nombre">
    </div>
    <div class="form-group">
      <label for="direccion">Dirección:</label>
      <input type="text" class="form-control" id="direccion" [(ngModel)]="participante.direccion" name="direccion">
    </div>
    <div class="form-group">
      <label for="correo">Correo:</label>
      <input type="email" class="form-control" id="correo" [(ngModel)]="participante.correo" name="correo">
    </div>
    <div class="form-group">
      <label for="contraseña">Contraseña:</label>
      <input type="password" class="form-control" id="contraseña" [(ngModel)]="participante.contraseña" name="contraseña">
    </div>
    <div class="form-group">
      <label for="puntos_acumulados">Puntos acumulados:</label>
      <input type="number" class="form-control" id="puntos_acumulados" [(ngModel)]="participante.puntos_acumulados" name="puntos_acumulados">
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
  
  