body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .logo {
    width: 50px; /* Ajusta el tamaño del logo según tus necesidades */
    height: 50px; /* Ajusta el tamaño del logo según tus necesidades */
    margin-right: 10px; /* Ajusta el margen si es necesario */
  }
  
  header {
    background-color: #f5f6f5;
    color: rgb(96, 185, 55);
    text-align: center;
    padding: 10px;
  }
  
  nav {
    background-color: #205c07;
    color: rgb(218, 209, 35);
    text-align: center;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 55px;
  }
  
  nav ul li a {
    color: rgb(133, 216, 17);
    text-decoration: none;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  /* Estilo para las secciones */
section {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #f0f0f0;
}

/* Estilo para el título de las secciones */
section h2 {
  color: #1fa42a;
}

/* Estilo para el texto de las secciones */
section p {
  color: #666;
}

  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  
  